body{
    padding-top: 75px;
  }
  
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
    margin-top: -35rem;
    margin-left: 40rem;
    
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 108%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
  }
    .search-bar:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
    }
    .search-bar::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
       .search-bar::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
       .search-bar:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
    
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  
  
  body
  {
    background-color: white !important;
  }